*.tcl linguist-detectable=false
*.c linguist-detectable=false
*.css linguist-detectable=false
*.gsc linguist-detectable=false
*.c++ linguist-detectable=false
Makefile linguist-detectable=false
*.js linguist-detectable=true
*.py linguist-detectable=true